@import "../../css/variables.scss";
@import "../../css/mixins.scss";

.swiper-container {
		img {
//			width: 750rem/$const;
//			height: 1334rem/$const;
			width: 100%;
			height: 100%;
		}
	#enter {
		position: absolute;
		bottom: 188rem/$const;
		margin-left: 264rem/$const;
		width: 220rem/$const;
		height: 72rem/$const;
		line-height: 72rem/$const;
		border: 1px solid #383838;
		border-radius: $border-radius/$const;
		text-align: center;
		font-size: $font-large/$const;
	}
}